@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

/*Main page settings*/
body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #2E4057;
}

#app {
  width: 100%;
  height: 100%;
}

.main {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.main::after {
  content: "";
  display: block;
  position: fixed;
  z-index: -1;   
  width: 100%;
  height: 100%;
  background-image: url('../background.jpg');
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.title {
  margin: 0;
  background-color: #46ACC2;
  position: fixed;
  bottom: 89%;
  width: 100%;
  padding: 2% 0;

}

.devices-intro {
  margin-top: 12%;
}

/*devices styling*/
.device-title {
  font-size: 2em;
}

.devices-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
  height: 75vh;
  margin: 0 auto;
  width: 95%;
}

.devices {
  margin: 2%;
  background-color: #42F2F7;
}

.device-link {
  display: block;
  text-decoration: none;
  color: #2E4057;
  font-weight: 700;
  font-size: 1em;
  width: 25vw;
  height: 15vh;
  line-height: 6em;
}

/*zones section styling */
.zones-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 80vh;
  overflow: scroll;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 1em;

}

.zone {
  flex-basis: 32%;
}

.zones-container img {
  display: block;
  height: 40vh;
  margin: 0 auto;
  width: 100%;
}

.zone-title {
  font-size: 1em;
}

.zone-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected {
  border: 4px solid yellow;
}

/*button general styling*/
button:hover {
  cursor: pointer;
}

button {
  border: none;
  background-color: #46ACC2;
}

.back-button {
  display: block;
  margin: 2% auto;
  padding: 1% 3%;
}

/*forms styling */
.hidden-form {
  display: none;
}

.control-form {
  display: flex;
  margin-bottom: 2%;
  justify-content: center;
}

/*media breakpoints*/
@media only screen and (max-width: 790px) {

  .title {
    position: static;
  }

  .devices-intro {
    margin-top: 10%;
    margin-bottom: 5%;
  }

  .devices-container {
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    height: initial;
  }

  .device-link {
    font-size: 1.2em;
    width: 60vw;
    line-height: 5em;
    margin: 0 auto;
  }

  .zones-container {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .devices {
    width: inherit;
  }

}

@media only screen and (max-width: 700px) {

  .zone-buttons button {
    padding: 2%;
  }

}

@media only screen and (max-width: 570px) {

  .devices-container {
    align-content: flex-start;
    height: 90vh;
  }

  .form {
    width: 23vh;
    margin: 0 auto;
  }

  .devices-container {
    margin-top: 25%;
  }

}

@media only screen and (max-width: 440px) {

  .devices {
    width: 85%;
  }

}

@media only screen and (max-width: 400px) {

  .device-link {
    font-size: 1em;
  }

}